*{box-sizing: border-box;}
body {
  background-color: hsla(25, 64%, 30%, 0.5);;
  font-family: Arial, sans-serif;
  margin: 0;
  min-height: 100vh;
  padding-bottom: 5rem;
}



.banner{background-color: hsla(25, 64%, 30%, 1);line-height: 3.5rem;}

.banner:not(#maintitle){padding:0 3rem;margin:2rem 0;}

#maintitle {text-align:center;}
#maintitle h1{font-size: 3rem;color:lightcyan;width: 100vw;margin:0;line-height: 3rem;}
#maintitle h2{color:beige;font-weight: normal;}
#maintitle h3{color:beige;font-weight: 100; font-style: italic;margin-top:0;}
#maintitle h3 a{color:beige;}



.json-loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0;
  margin-bottom: 2rem;
}
.json-loader input {  margin-bottom: 1rem;}
.json-loader fieldset {margin-bottom: 1rem;padding:1.5rem; }



/* #overview{display:flex;flex-direction: row; flex-wrap:wrap;} */
#overview .cards{display:flex;flex-direction: row; flex-wrap:wrap; justify-content: center; gap:1rem}/*  */
#overviewsummary {font-size: 2rem;color:beige;font-weight: 100;}
.barscard {width: 100%; max-width:800px;margin:0 auto 0.8rem; border:0.05rem black solid;background-color: #f5f5f5;}
.barscard  summary:not(.barscard  details summary){color: beige;   background-color: hsla(25, 64%,  30%, 1);font-size: 1.2rem; padding:0.5rem}
.barscard .barInfo {margin: 1rem 0;padding:0 0.5%; font-size: 0.75rem;}
.barscard .barInfo ul{columns:2;}

.barscard section{ padding:0 0.5rem 0.5rem}
.barscard hgroup{ padding:0 0 0.5rem}
.barscard hgroup h3{ padding:0 0.5rem}
.barscard section {display: flex; width:100%; justify-content: space-around; gap:0.5rem;}
.barscard  .bar-graph{width: 50%;}
.barscard .bar-graph .bar-row .category {font-size: 0.75rem; margin-top: 0.25rem;}







.pointables  {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap:1rem;
  margin-top: 2rem;

}

.pointables table {
width: 30%;
  min-width: 20rem;
max-height:15rem;
border:1px solid black;
overflow: hidden;
font-size: 0.8rem;
border-collapse: collapse;
}
.pointables table th,
.pointables table td {
  padding: 0.5rem;
  text-align: center;
  background-color: #f5f5f5;
}
.pointables table th {
  background-color:darkgoldenrod; 
  text-align: center;
  color: beige;
  font-weight: 500;
  font-size: 1rem;
  height: 2.7rem;
  border-bottom:1px solid black;
}

.pointables table tfoot {font-weight: bold;}



